body{
  background: green;
}



.forms {
  display: inline-block;
 width: 40%;
 height: 100px;
 margin: 1em;
 vertical-align: top;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}
